# entrypoint-configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: ollama-entrypoint
  namespace: llama  # Specify the namespace
data:
  entrypoint.sh: |
    #!/bin/bash

    # Start Ollama in the background.
    /bin/ollama serve &

    # Record Process ID.
    pid=$!

    # Wait for Ollama to start.
    sleep 30

    # Pull the specific LLaMA 405B model
    ollama pull llama3.1:405b

    # Wait for the Ollama process to finish.
    wait $pid
